body {
  background-color: #d5e1ef;
  text-align: center;
  font-size: 15px;
  font-family: 'Outfit', sans-serif;
  line-height: 1.25;
}

p {
  color: hsl(220, 15%, 55%);
}

h3 {
  font-size: 21px;
  color: hsl(218, 44%, 22%);
}

/* container */
.container-fluid {
  background-color: #fff;
  max-width: 300px;
  max-height: 600px;
  margin: 100px auto;
  border-radius: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.image-qr-code {
  border-radius: 10px;
  max-width: 270px;
  margin: 15px 15px 0;
}

.container-legends {
  margin: 10px 20px;
  padding-bottom: 20px;
}

/* attribution */
.attribution {
  font-size: 11px;
  text-align: center;
}

.attribution a {
  color: hsl(228, 45%, 44%);
}
